*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

*::-webkit-scrollbar{
   display: none;
}

img{
   width: 100%;
}

a{
   display: block;
   margin-top: -4px;
   padding: 20px;
   text-align: center;
   text-decoration: none;
   font: bold 1em Arial, Helvetica, sans-serif;
   color: white;
   background-color: darkred;
}

a:hover{
   background-color: red;
}