@import url('./global.css');

@media screen and (min-width: 768px) {
   body{
      background: linear-gradient(to bottom, var(--lilas), var(--verde));
   }

   .imagem{
      float: left;
      width: 30%;
      height: 100%;
   }

   .form{
      float: right;
      width: 70%;
   }

   main{
      max-width: none;
      width: 80%;
      height: 280px;
   }
}

@media screen and (min-width: 992px) {
   .imagem{
      float: right;
      width: 50%;
   }

   .form{
      float: left;
      width: 50%;
   }

   main{
      width: 950px;
      height: 350px;
   }

   .form-title{
      font-size: 2em;
      margin-bottom: 20px;
   }

   .form-text{
      font-size: 1em;
      margin-bottom: 20px;
   }
}